.services-icon {
    /*color: rgb(16, 142, 220) !important;*/
    color: rgb(11, 137, 215) !important;
}

.services-anchor {
      /* color: #606263 !important; */
    color: rgb(46, 46, 46);
    text-decoration: none;
}

.services-anchor :hover {
    color:black;
    text-decoration: underline;
}

.services-wrapper {
    flex: 3;
    border-radius: 6px;
    /*box-shadow: 0px 0px 10px 0px rgba(29, 26, 26, 0.45);*/
    /* box-shadow: 0px 0px 10px 0px rgb(187, 187, 187); */
    background: #f2f1ed;
    display: flex;
    flex-wrap: wrap;
}


.services-items {
      padding-left: 0rem;
      padding-right: 0rem;
      background: #f2f1ed;
}

.services-title {
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    margin-top: 0;
}

.services {
    /* margin-top: 3rem; */
    padding-top: 2rem;
}




@media screen and (min-width: 1024px) {
    .services {
        /* margin-top: 0; */
        padding: 3rem;
    }

    .services-items {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .services-wrapper {
        box-shadow: 0px 0px 10px 0px rgb(187, 187, 187);
        background: #fff;

    }

    .services-bg {
        /*background-color: #b3d9f2;*/
        background: #f2f1ed;
    }

    .services-anchor {
        color: #606263 !important;
        text-decoration: none;
    }


    .services-title {
        padding: 3rem;
    }

}