.contact-btn {
    background-color: rgb(233, 234, 235) !important;
    border-color: rgb(207, 209, 211) !important;
    color: black !important;
}

.contact-btn:hover {
    background-color: rgb(188, 188, 189) !important;
    border-color: rgb(207, 209, 211) !important;
    color: black !important;
}