/* .contact-btn {
     background-color: rgb(159, 163, 163);
     border-color: rgb(206, 208, 209) !important;
     color: black;
}

.contact-btn-hover {
     background-color: rgb(206, 207, 207);
     border-color: rgb(240, 241, 241) !important;
     color: black;
} */

.contact-link {
    color: black;
}

.contact-icon {
    cursor: pointer;
}
.contacts-bg {
    background-color: #f2f1ed;
    height: 100%;
}

.contact-form {
    padding-left: 0;
    padding-right: 0;
}

.contact {
    display: grid;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.contact-info, .contact-form {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}



@media screen and (min-width: 992px) {
    .contact-form {
        padding-left: 3rem;
        padding-right: 0.8rem;
    }

    .contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-right: 3rem;
        padding-left: 3rem;
    }

}